.main
  .header__main
    .header__main__left
      .left__group--text
        = @group.name
      .left__group--menber
        %ul.menber__names
          %li 
            Menber : 
          %li
            - @group.group_users.each do |group_user|
              = group_user.user.name
    .header__main__right
      =link_to  edit_group_path(@group), class:"right__group--edit" do
        Edit

  .main__chat
    = render @messages

  .form
    .form__box
      = form_for [@group, @message] do |f|
        .input__box
          = f.text_field :content, class: "post__form", placeholder: "type a message"
          = f.label :image, class: "post__image" do
            %i.far.fa-image
            = f.file_field :image, class: "image__form"
  
          = f.submit 'Send', class: 'submit__btn'